:host {
  display: block;
}

mat-card {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1) !important;
}

mat-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-spinner {
  display: inline-block;
  vertical-align: middle;
}