:host {
  display: block;
  margin-top: auto;
}

.app-footer {
  position: relative;
  
  h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
    display: inline-block;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 768px) {
  .app-footer {
    .grid {
      grid-template-columns: 1fr;
    }
  }
}