:host {
  display: block;
  min-height: 100vh;
}

.fixed-header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: var(--background-color);
  height: 64px;
}

.main-content {
  margin-top: 140px; 
  flex: 1;
}
